# astyle backup files
*.orig

# binary
build/
Bot
Echobot
MockBot
ToxCoreTest
ToxOptionsTest
ToxAVTest
ToxEncryptSaveTest
*.gcda
*.gcno

# c files
*.c

# GOuput
.goutputstream-*

# Tox profiles
*.tox

# valadoc output
docs/
